#mainDiv{
    padding: 5%;
    margin: 2%;
    background-color: skyblue;
}
table,td  {
    border: 1px solid grey;
    border-collapse: collapse;
}
.odd {
    text-transform: uppercase;
    border-collapse: collapse;  
    border: 1px solid grey;
}
.even{
    background-color:  #E47F72;
    color: white;
    border-collapse: collapse;  
    border: 1px solid grey;
}
th{
    color: black;
    font-weight: bold;
    border: 1px solid grey;
    border-collapse: collapse;  
}
.notReverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE}
.reverse:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
#searchDiv{
    float: right;
}
#notFound{
    text-align: center;
    font-size: 20px;
}