<!DOCTYPE html>
<html ng-app="myApp" >
<head>
    <title>Assignment1</title>
    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Js -->
    <script>

    var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
    $scope.list = [
        {   
            "Index" : "1", 
            "Name"  : "ravi Singh",
            "Email" : "ravi.rajput@gmail.com",
            "Age"   : "23 Years"
        },{
            "Index" : "2",
            "Name"  : "vikki kumar",
            "Email" : "vikki@gmail.com",
            "Age"   : "55 Years"
        },{
            "Index" : "3",
            "Name"  : "robin verma",
            "Email" : "robin.verse@gmail.com",
            "Age"   : "30 Years"
        },{
            "Index" : "4",
            "Name"  : "ranm srivastava",
            "Email" : "krs@gmail.com",
            "Age"   : "62 Years"
        },{
            "Index" : "5",
            "Name"  : "abcd",
            "Email" : "asdasdas@gmail.com",
            "Age"   : "54 Years"
        },{
            "Index" : "6",
            "Name"  : "asda Siasdasngh",
            "Email" : "ssdf@gmail.com",
            "Age"   : "30 Years"
        },{
            "Index" : "7",
            "Name"  : "asda asd",
            "Email" : "sf@gmail.com",
            "Age"   : "39 Years"
        },{   
            "Index" : "8", 
            "Name"  : "dfsdf sdfs",
            "Email" : "sfs.sdf@gmail.com",
            "Age"   : "23 Years"
        }
    ]
    
    $scope.reverse = false; 
    $scope.orderByMe = function(Obj) {
        $scope.myOrderBy = Obj;
        if($scope.reverse){
            $scope.reverse = false; 
        }
        else{
            $scope.reverse = true; 
        }
    }
});
</script>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="filter.stylesheet.css">

</head>
<body >
    <div class="row">
    
        <div id="mainDiv" class="col-md-10">
        <div class="col-md-3" id="searchDiv">
            <input type="text" class="form-control" ng-model="search" placeholder="Search Here" ng-change="change()"/><br>
        </div>
            
            <table ng-controller="myCtrl" class="table">
                <tr class="success">
                    <th ng-click="orderByMe('Index')">Index 
                        <span ng-show="myOrderBy === 'Index'" ng-class="{reverse: reverse,notReverse: !reverse}"></span>
                    </th>
                    <th ng-click="orderByMe('Name')">Name 
                        <span ng-show="myOrderBy === 'Name'" ng-class="{reverse: reverse,notReverse: !reverse}"></span>
                    </th>
                    <th ng-click="orderByMe('Email')">Email 
                        <span ng-show="myOrderBy === 'Email'" ng-class="{reverse: reverse,notReverse: !reverse}"></span>
                    </th>
                    <th ng-click="orderByMe('Age')">Age 
                        <span ng-show="myOrderBy === 'Age'" ng-class="{reverse: reverse,notReverse: !reverse}"></span>
                    </th>
                </tr>
                <tr ng-repeat="Obj in list   | orderBy:myOrderBy: reverse | filter : search" ng-class="($index+1) % 2 == 0? 'even' : 'odd'">
                    <td>{{Obj.Index}}</td>
                    <td>{{Obj.Name}}</td>
                    <td>{{Obj.Email}}</td>
                    <td>{{Obj.Age}}</td>
                </tr>
                <tr ng-show="(list |filter:search).length == 0" >
                    <td colspan="4" id="notFound" class="alert alert-danger"><strong>Sorry !!</strong> Data Not Found</td>
                </tr>
        </table>


        </div>
    </div>
    
</body>
</html>
