*{
    margin:0 auto;
    padding:0 auto;
    box-sizing:border-box;
    
}

body{
    font-family: sans-serif;
    font-size:15px;
     background-color: #F0F0F0;
}

a{
    text-decoration:none;
}
#li4 {
  float: left;
  padding: 0 0 0 67px;
  margin: 0px 0px 0px 22px;
  font-size: 0.9em; 
  /* font-weight: 600; */
}
.header{
  background-color:#87ceeb;
 padding: 18px 0px 0px 1px;

}
#subheader li {
    float: left;
}
  #nit {
    padding: 3px 0px 6px 160px;
}
.header1{
  background-color: #808080;
 padding:0px 0px 111px 0px;;
  
}
.header2{
 padding: 93px 0px 0px 445px;
}
.header3{
    padding: 3px 0px 0px 387px;
}
.header img{
    width: 100%;
        padding: 41px 0px 0px 0px;
}
.section{
   background-color: #E8E8E8;
    margin: 43px 0px 0px 0px;
    padding: 0px 0px 46px;
    margin-left: 63px;
       margin-right: 51px;
}
.sectiontext{
    font-size: 2.1em;
    padding: 19px 0px 7px 23px;
}
.sectiontext1{
        padding-left: 24px;
            font-size: small;
}
.sectionimage{
        padding: 0px 0px 0px 890px;
    margin-top: -53px;
}
.belowsection{
  padding: 50px 0px 0px 64px;
    float: left;
}
.b1{
    margin-top: -254px;
    margin-right: 0px;
    margin-left: 103px;

}
.b2{
    margin-top: 26px;
    margin-left: 77px;
}
.b1text{
      margin: 32px 0px 0px 14px;
}
.Mecsection{
      margin-top: -348px;
    /* margin-bottom: 0px; */
    /* margin-right: 0px; */
    margin-left: 300px;
}
.b3{
    margin-top: 20px;
    margin-left: 96px;
}
.b2text{
        margin: 40px 666px 0px 36px;
    font-size: 14px;
    color: #888888;
    font-family: initial;
    font-stretch: expanded;
}
.aliqumsection{
           margin-top: -356px;
    /* margin-bottom: 0px; */
    /* margin-right: 0px; */
    margin-left: 606px;
}
.b4{
    margin-top: 20px;
    margin-left: 91px;
}
.b3text{
          margin: -171px 372px 391px 37px;
    font-size: 14px;
    color: #888888;
    font-family: initial;
    font-stretch: expanded;
}
.btn{
        margin: 54px 0px 0px 37px;
}
.btnn {
    margin: 153px 0px 0px 37px;
}

.hestsection{
        margin-top: -633px;
    /* margin-bottom: 0px; */
    /* margin-right: 0px; */
    margin-left: 907px;
}
.b5{
    margin-top: 20px;
    margin-left: 91px;
}
.b4text{
      margin: 42px 68px 0 20px;
    font-size: 14px;
    color: #888888;
    font-family: initial;
    font-stretch: expanded;
}
.borderimg {
    padding: 64px 0px 0px 0px;
    margin: 0 0 0 -214px;
}
.bigsection {
    /* background-color: #707070; */
    margin: 0px 0px 0px -215px;
}
h2#sectext {
       margin: -342px 0px 0px 437px;
    color: d40f0f;
    font-size: 2.5em;
}

p#sec2text {
    margin-left: 354px;
     color: #888888;
    font-family: initial;
}
.bigsectionimg {
    margin: -320px 0px 0px 367px;
}
.bigsectionimg2 {
    margin: 109px 0 0 53px;
}
.bigsectionimg3 {
    margin: -265px 0 0 869px;
}

h6#innersec6 {
      margin: 66px 0px 0px 87px;
    color: #888888;
    font-family: initial;
    font-size: 1.3em;
}
.leftsec6 {
    margin: 50px 0px 0px 91px;
}
p#subleft {
        margin: -15px 0 0px 15px;
        color: #888888;
    font-family: initial;
}
.leftsec7 {
    margin: 12px 0 0 91px;
}
p#middlesec1{
        margin: -214px 0px 0px 350px;
        color: #888888;
        font-family: initial;
         font-size: 1em;
}
h6#innersec6 {
      margin: 66px 0px 0px 87px;
    color: #888888;
    font-family: initial;
    font-size: 1.3em;
}
.middlesec6 {
    margin: -212px 0 0 414px;
}


h6#innerrightsec6 {
    margin: -41px 0px 0px 1008px;
    color: #888888;
    font-family: initial;
    font-size: 1.3em;
}
.rightesec6{
        margin: 33px 0 0 964px;
}
.middleemage{
    margin: -116px 0 0 363;
}






.container {
    overflow: hidden;
    background-color: #87ceeb;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #87ceeb;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}




