<html>

<head>
    <title>Event in angularjs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="myCtrl">
        <div class="row">
        <div class="text">
            <input type="text" ng-model="div1"class="col-sm-2">
            <br>
            <br>
            <input type="text" ng-model="div2" class="col-sm-2">
        </div>
        <br><br>
            <button id="btn2" class="btn btn-default" ng-click="add()">Update</button>
            <br>
            <br> Answer: {{answer}}
        </div>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.add = function() {
                $scope.answer = $scope.div1 + $scope.div2;
                if (!isNaN($scope.div1, $scope.div2)) {
                    $scope.div1 = parseInt($scope.div1);
                    $scope.div2 = parseInt($scope.div2);
                    $scope.answer = $scope.div1 + $scope.div2;


                }
                 if (!$scope.div1 || !$scope.div2)
            {
                alert("please enter a value");
            }
            }
           

        });
    </script>


</body>

</html>